img {
    filter: saturate(50%) brightness(110%);
    border-radius: 200px 0 200px 200px;
}

header {
    background: linear-gradient(lightsteelblue, linen);
}

body {
    background: linear-gradient(45deg, linen, lightsteelblue);
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: linen;
    flex-wrap: wrap;
    align-items: stretch;
}

.menu_item {
    flex-grow: 1;
    padding: 8px;
}